<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-v3.6.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
    body {
        min-height: 2000px;
        padding-top: 70px;
    }
    </style>
</head>